* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --primary-color: #0D28A6;
    --secondary-color: #CFD4ED;
    --background-color: #F4F5F7;
    --lime-green: #5cb85f;
    --lime-green-young: #a3d2a3;
    --neutral: #fff;
    --neutral-black: #000;
    --neutral-grey: #8A8A8A;
    --dark-blue: #4d5db6;
    --dark-blue-young: #4d5db6;
    --red: #EF5A6F;
    --border: #d0d0d0;
}

a {
    text-decoration: none;
}

/* For All Dashboard Pages */
.sidebar-nav {
    background-color: var(--primary-color);
    color: var(--neutral);
    padding-right: 0 !important;
    height: 100vh;
    width: auto;
}

.sidebar-nav__logo {
    text-align: center;
    padding: 18px;
}

.sidebar-nav__button {
    text-align: center;
    padding: 10px 5px;
    color: var(--neutral);
}

.sidebar-nav__button img {
    margin: 0 auto;
}

.sidebar-nav__button-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin-bottom: 0;
}

.sidebar-nav__button-active {
    background-color: var(--dark-blue-young);
}

.no-margin-right {
    margin-right: -90px;
}

.section-navigation {
    padding-left: 0;
    background-color: var(--neutral);
    height: 100vh !important;
}

.section-navigation__logo {
    padding: 18px;
}

.section-navigation__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: var(--neutral-grey);
    margin-top: 36px;
    margin-left: 24px;
    margin-bottom: 18px;
}

.section-navigation__list-item {
    background-color: var(--secondary-color);
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.section-navigation__list-item p {
    color: black;
    margin-left: 24px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}

.top-navbar {
    padding: 18px;
}

.top-navbar__hamburger {
    height: 34px;
}

.top-navbar__user-picture {
    height: 38px;
}

.top-navbar__username {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 9px;
}

.top-navbar__dropdown {
    height: 24px;
}

/* List Car Page */
.list-car-section {
    background-color: var(--background-color);
    padding-top: 32px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 40px;
    height: 100vh;
}

.list-car-section__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-bottom: 24px;
}

.add-new-car-button {
    background-color: var(--primary-color);
    color: var(--neutral);
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    width: auto;
    height: 36px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;

}

.list-car-section__filter-button {
    background-color: var(--neutral);
    color: var(--primary-color);
    padding: 8px 12px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    width: auto;
    height: 36px;
    margin-right: 16px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.list-car-section__filter-button-active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 8px 12px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    width: auto;
    height: 36px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.cars-card {
    margin-top: 27px;
    border: none;
    padding: 0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #00000026;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.cars__card-body {
    padding-bottom: 0;
}

.cars-card-img {
    object-fit: cover;
    width: 100%;
    height: 222px;
}

.cars__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
}

.cars__price {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;
}

.cars__spec {
    margin-top: 16px !important;
    margin: 0px !important;
    margin-bottom: 16px !important;
}

.cars__spec-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.car__spec-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.cars__button {
    max-width: 100%;
    margin-top: 8px !important;
    margin: 24px;
    padding: 18px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.cars__button img {
    margin-right: 12px;
}

.cars__button p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin: 0;
}

.delete-button {
    margin-right: 8px !important;
    background-color: var(--neutral);
    color: var(--red);
    border: 1.5px solid var(--red);
    width: 50%;
}

.edit-button {
    margin-left: 8px !important;
    background-color: var(--lime-green);
    color: var(--neutral);
    border: 1.5px solid var(--lime-green);
    width: 50%;
}

.delete-button:hover {
    margin-right: 8px !important;
    background-color: var(--neutral);
    color: var(--red);
    border: 1.5px solid var(--red);
    width: 50%;
}

.edit-button:hover {
    margin-left: 8px !important;
    background-color: var(--lime-green);
    color: var(--neutral);
    border: 1.5px solid var(--lime-green);
    width: 50%;
}

/* Add Cars Page */
.car-form {
    background-color: var(--background-color);
    padding-top: 32px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 40px;
    height: 100vh;

    /* display: flex;
    justify-content: space-between !important;
    flex-direction: column; */
}

.car-form__breadcrumb {
    font-size: 12px;
    color: black !important;
    margin-bottom: 27px;
}

.car-form__breadcrumb-item {
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

.car-form__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-bottom: 16px;
}

.car-form__forms {
    background-color: var(--neutral);
    padding: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.car-form__forms>form {
    margin-right: 490px;
}

.car-form__label {
    display: flex;
    align-items: center !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.form-label {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    margin-bottom: 0;
}

.form-control {
    height: 36px;
    font-size: 12px;
}

.car-form__submit-button {
    background-color: var(--primary-color);
    color: var(--neutral);
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    width: auto;
    height: 36px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.car-form__submit-button:hover {
    background-color: var(--lime-green);
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 2px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.car-form__cancel-button {
    margin-right: 16px;
    background-color: var(--neutral);
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    width: auto;
    height: 36px;
    border-radius: 2px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.car-form__cancel-button:hover {
    background-color: var(--red);
    color: var(--neutral);
    padding: 8px 12px;
    border: 1.5px solid var(--primary-color);
    border-radius: 2px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.modal-backdrop-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1040;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 32px 24px;
    background-color: white;
    z-index: 1050;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.modal__car-image {
    width: 40%;
    margin-bottom: 24px;
}

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.modal-title {
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body p {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.modal-footer__button-delete {
    background-color: #0D28A6;
    padding: 12px 35px;
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    width: 22%;
    margin-right: 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.modal-footer__button-delete:hover {
    background-color: #5cb85f;
    padding: 12px 35px;
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    width: 22%;
    font-weight: 700;
    line-height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.modal-footer__button-cancel {
    background-color: #fff;
    padding: 12px 35px;
    color: #0D28A6;
    border: 1px solid #0D28A6;
    width: 22%;
    font-family: Helvetica;
    font-size: 18px;
    margin-left: 8px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.modal-footer__button-cancel:hover {
    background-color: #EF5A6F;
    padding: 12px 35px;
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    width: 22%;
    font-weight: 700;
    line-height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}