* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --primary-color: #F1F3FF;
    --lime-green: #5CB85F;
    --lime-green-young: #A3D2A3;
    --lime-green-old: #3A7D44;
    --neutral: #D0D0D0;
    --dark-blue: #0D28A6;
}

@media screen and (max-width: 991px) {
    body {
        margin: 0;
    }

    /* Navbar Section */

    .offcanvas {
        padding-top: 32px;
    }

    .navbar__register-button {
        margin-top: 16px;
    }

    /* Hero Section */
    .hero {
        height: 100%;
        margin-bottom: 60px;
    }

    .hero__description {
        width: 100%;
        text-align: justify;
    }

    .hero__img-car {
        position: static;
        width: 100%;
        margin-left: 16px !important;
        padding-top: 24px;
    }

    /* Our Services Section */
    .our-services {
        padding-top: 60px;
        width: 100%;
    }

    .our-services__row {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0px;
    }

    .our-services__col1{
        display: flex;
        justify-content: center;
        padding: 0px 54px;
    }

    .our-services__img {
        width: 252px;
        height: 228px;
        margin-left: 16px !important;
        margin-bottom: 24px;
    }

    .our-services__title, .our-services__description{
        text-align: justify;
        margin-bottom: 16px;
    }

    /* Why Us Section */
    .why-us {
        margin-top: 60px;
    }
}