* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --primary-color: #f1f3ff;
    --lime-green: #5cb85f;
    --lime-green-young: #a3d2a3;
    --lime-green-old: #3a7d44;
    --neutral: #d0d0d0;
    --dark-blue: #0d28a6;
    --dark-blue-young: #4d5db6;
    --border: #d0d0d0;
}

.search {
    display: flex;
    flex-direction: row;
    width: 72.6%;
    margin: 10px auto;
    padding: 24px !important;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #00000026;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.tipe_driver,
.pilih-tanggal,
.waktu_jemput,
.jumlah_penumpang {
    flex-basis: 21.25%;
    margin-right: 16px;
    text-align: left;
}

.search__bar {
    flex-basis: 15%;
    height: auto !important;
}

.search__button {
    background-color: var(--lime-green);
    color: white;
    width: 100%;
    height: 100%;
    padding: 8px, 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border: none;
    border-radius: 2px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.search__button:hover {
    background-color: var(--lime-green-young);
    color: var(--lime-green-old);
    border: 2px solid var(--lime-green);
    border-radius: 2px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.edit__button {
    color: white;
    background-color: white;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    width: 100%;
    height: 100%;
    padding: 8px, 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 2px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.edit__button:hover {
    background-color: var(--dark-blue-young);
    border: 2px solid var(--dark-blue);
    color: white;
    border-radius: 2px;
    animation: ease-in-out;
    animation-duration: 2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-animation: ease-in-out;
}

.tipe_driver__title,
.search__button-title,
.pilih-tanggal__title,
.waktu_jemput__title,
.jumlah_penumpang__title {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 4px;
    color: #3c3c3c;
}

.cars-card {
    border: none;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #00000026;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.cars__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.cars__price {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.cars__description {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.cars__spec {
    margin-top: 16px !important;
    margin: 0px !important;
}

.cars__spec-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.car__spec-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.cars__button {
    background-color: var(--lime-green);
    color: white;
    max-width: 100%;
    margin: 24px;
    padding: 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.cars__button:hover {
    background-color: var(--lime-green-young);
    color: var(--lime-green-old);
    border: 2px solid var(--lime-green);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}